pymongo==4.11.3
pyyaml==6.0.1
streamlit==1.42.0
dotenv==0.9.9
huggingface-hub==0.30.1
llama-index==0.12.28
transformers==4.50.3
sentence-transformers==4.0.1
llama-index-llms-huggingface==0.4.2
llama-index-embeddings-huggingface==0.5.2
llama-index-llms-openrouter==0.3.1
llama-index-retrievers-bm25==0.5.2
tabula-py==2.10.0
jpype1==1.5.2
pystemmer==2.2.0.3
safetensors==0.5.3
python-dotenv~=1.0.1
stemmer~=0.0.4
numpy~=2.2.4
pandas~=2.2.3
llama-cpp-python==0.3.8
easyocr==1.7.2